
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <input id="textKey" type="text" placeholder="Key" />
    <input id="textValue" type="text" placeholder="Value" />
    <input id="btnGetCookie" type="button" value="GetCookie" />
    <input id="btnSetCookie" type="button" value="SetCookie" />
</div>

<script src="~/js/Cookie/cookieUI.js"></script>
<script src="~/js/Utils/cookie.js"></script>