@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*@for (int i = 0; i < 50; i++)
        {
            int bolenSayisi = 0;
            for (int j = 1; j <= i; j++)
            {
                if (i % j == 0)
                {
                    bolenSayisi++;
                }
            }
            if (bolenSayisi == 2)
            {
                <p>@i  sayisi asal sayidir</p>
            }
        }*@

    @for (int i = 1; i < 50; i++)
    {
        if (i % 6 == 0)
        {
            <p>@i  sayisi 2 ve 3'un katidir</p>
        }
        
    }
</div>

